<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="fragments/MainStyleHead :: styles"></head>
<body>
	<div id="notfound">
		<div class="notfound-bg">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>Error!</h1>
			</div>
			<h2>Connection Error</h2>
			<p>There is an error connecting to the Database. Try after Sometime.</p>
			<div class="notfound-social">
				<a href="https://www.facebook.com/snoreen921/" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/NoreenSundas" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="https://www.linkedin.com/in/sundas-noreen/" target="_blank"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
	</div>
</body>
</html>
