<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="fragments/General :: header"></head>
<div th:replace="fragments/General :: stylesheet"></div>
<style>
    .header{
        margin-left:250px;
    }
    .header h2
    {
        padding: 4px;  color: black;  text-align: center;
    }
    .header h3
    {
        margin-top: 20px;
        text-align: center;
    }
    table
    {
        margin-top: 10px; text-align: center;
    }
</style>
<body>
<div th:replace="fragments/General :: sidebar"></div>
<div class="header">
    <h3 style="color: darkcyan; text-transform: uppercase;margin-top: 30px; border-bottom: #660033 2px;"><a th:href="@{/clear_ads}">Clear All Advertisements</a></h3>
    <h3 th:text="${msg}"></h3>
</div>
</body></html>