<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
<body>
<div th:fragment="mytitle">
    <div class="brand">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-4">
                    <div class="b-logo">
                        <a>
                            <h1 style="color: darkcyan; font-size:28px;text-transform: uppercase;">Shine with the Sun</h1>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4" th:each="ad:${ad}">
                    <div class="b-ads" >
                        <a href="">
                            <a th:href="@{${ad.link_hor}}" target="_blank"><img th:src="@{'data:image/jpg;base64,'+${ad.AdHor}}"/></a>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="b-search">
<!--                        <input type="text" placeholder="Search">-->
<!--                        <button><i class="fa fa-search"></i></button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>