<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="fragments/General :: header"></head>
<div th:replace="fragments/General :: stylesheet"></div>
<style>
    .header{
        margin-left:250px;
    }
    .header h2
    {
        padding: 4px;  color: black;  text-align: center;
    }
    .header h3
    {
        margin-top: 20px;
        text-align: center;
    }
    table
    {
        margin-top: 10px; text-align: center;
    }
</style>
<body>
<div th:replace="fragments/General :: sidebar"></div>
<div class="header">
    <h3 th:text="${error}"><strong>Shine With The Sun</strong></h3>
</div>
</body></html>